<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <title>{{greeting}} World</title>
</head>
<body>

<h1>PI digits: {{3.678159265359 | number: digits}}</h1>
<select ng-model="digits">
  <option value="1">1</option>
  <option value="2">2</option>
</select>
<ng-pluralize count="digits"
              when="{'1': 'One Digit of Pi.',
                     'other': '{} digits of PI.'}">
</ng-pluralize>
<br><br>

Talking Filter: <input type="text" name="name" value="" ng-model="talking">
<p>Yelling: {{ talking | uppercase }}</p>
<p>Softly: {{ talking | lowercase }}</p>
<br>
<hr>

<br>

  <div ng-controller="HelloController">
        <h2>Hello, {{hello.title}}!</h2>
  </div>
    <h1>My choice is: {{pet}} <3</h1>
    <select ng-model="pet"class="" >
      <option value="Dogs"><data value=""></data>Dog</option>
      <option value="Cats"><data value=""></data>Cats</option>
    </select>
    <p>Say something to the world
      <input type="text" ng-model="greeting" ng-init="BOJack">
    </p>
    <p>{{ greeting }} world!</p>

    <br>
    <hr>
    <br>

    <h1>Angular Tip Calculator</h1>
    <p>How Much Was Your Tab?</p>
    $<input type="number" name="tab" value="" ng-model="tab" ng-init="tab = 0.00">
    <br>
    <p>How Much Should You Tip?</p>
    <br>
    <select value="0" name="tip" ng-model="tip" ng-init="tip = 0">
      <option value=".15">15%</option>
      <option value=".2">20%</option>
    </select>
    <h3>Subtotal: {{tab | currency}} </h3>
    <h3>Tip: {{tab * tip | currency}}</h3>
    <br>
    <hr>
    <br>
    <h1>Mad Libs</h1>
    Boy Name <input type="text" name="name" value="" ng-model="boyName"> <br>
    Adjective: <input type="text" name="name" value="" ng-model="Adjective"> <br>
    Plural Noun: <input type="text" name="name" value="" ng-model="pNoun1"> <br>
    Plural Noun: <input type="text" name="name" value="" ng-model="pNoun2"> <br>
    Plural Insect: <input type="text" name="name" value="" ng-model="insect"> <br>
    Plural Noun: <input type="text" name="name" value="" ng-model="pNoun3"> <br>
    Verb Ending in S: <input type="text" name="name" value="" ng-model="verbS"> <br>
    <h3>I'm in love with <span>{{boyName}}</span>. He's so <span>{{Adjective}}</span>!<br> He has big flat <span>{{pNoun1}}</span>, and when our <span>{{pNoun2}}</span> meet, I get <span>{{insect}}</span> in my stomach.<br> I've fallen for him like a ton of <span>{{pNoun3}}</span>, and he <span>{{verbS}}</span> for me, too.<br> But I think he's got another girlfriend. What should I do?</h3>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
